[submodule "model"]
	path = model
	url = https://github.com/ssg-research/BliMe-model
[submodule "firesim/blime-boom-1"]
	path = firesim/blime-boom-1
	url = https://github.com/ssg-research/BliMe-firesim
	branch = blinded-comp
[submodule "firesim/blime-boom-8"]
	path = firesim/blime-boom-8
	url = https://github.com/ssg-research/BliMe-firesim
	branch = blinded-multiclient

[submodule "firesim/baseline"]
	path = firesim/baseline
	url = https://github.com/ssg-research/BliMe-firesim
	branch = blime-baseline
[submodule "gem5/blime-gem5-unopt"]
	path = gem5/blime-gem5-unopt
	url = https://github.com/ssg-research/BliMe-gem5.git
	branch = BliMe-gem5-unoptimized
[submodule "gem5/blime-gem5-opt"]
	path = gem5/blime-gem5-opt
	url = https://github.com/ssg-research/BliMe-gem5.git
[submodule "gem5/gem5/blime-gem5-baseline"]
	path = gem5/blime-gem5-baseline
	url = https://github.com/ssg-research/BliMe-gem5.git
	branch = blinded_baseline
[submodule "gem5/gem5/blime-gem5-experiments"]
	path = gem5/blime-gem5-experiments
	url = https://github.com/ssg-research/BliMe-gem5-experiments.git
